<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="index.css">    <!-- Link to the css file -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Link to vue -->
    <title>Vue Test</title>
</head>

<body>


<div id="navbarsimple">
    <div id="logo"></div>
    



</div>




<!-- Product APP
<div id="app">
    <div class="product">
        <div class="product-image">
            <img id="picture" :src="image">
        </div>

        <div class="prodcut-info">
            <h1>{{ product }}</h1>   product acts like a variable and get changed

            <p v-if="inventory > 10">In Stock </p>
            <p v-else-if="inventory<=10 && inventory >=5">Barely in Stock </p>
            <p v-else="inventory = 0">Out of Stock </p>

            <p v-if="onsale = true" >OnSale! </p>
            <p v-else-if="onsale = false"> Not on sale</p>
        </div>

        <button v-on:click="addToCart">Add to Cart</button>

        <div class="cart">
            <p>Cart({{cart}})</p>
        </div>

    </div>
</div>

 Todo APP
<div id="app2">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
-->

<script src="vue.js"></script>
</body>
</html>