.navbar-brand {
    font-weight: bolder;
    font-size: x-large;
}

.bg-light {
    background-color: #eeeeee !important;
}

.navbar-light .navbar-brand {
    color: orangered;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: orangered;
}

.btn {
    border-radius: 0;
}

.breadcrumb {
    background-color: transparent;
}

.form-control {
    border-radius: 0;
}

.btn-outline-primary {
    color: orangered;
    border-color: orangered;
    border-radius: 0;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
}


.btn-primary {
    background-color: orangered;
    border-color: orangered;
    color: white;
    border-radius: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
    background-color: orangered;
    border-color: orangered;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

a:not([href]).btn-primary {
    color: white;
    text-decoration: none;
}

.categorytitle {
    margin: 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: orangered;
    background-color: orangered;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    border-color: black;
}

.card-title {
    font-size: larger;
}

.custom-select {
    border: 1px solid #ced4da;
    border-radius: 0.0rem;
}